@model Student
<div class="h3 alert-heading">Are you sure you want to delete the following student?</div>

<div class="container">
   
    <h4>
    Name: @Model.Name
    </h4>
    <h4>

    Father Name: @Model.FatherName
    </h4>
    <form asp-action="ConfirmDelete">
        <input type="hidden" asp-for="Id"/>
    <input type="submit" class="btn btn-danger" value="Confirm"/>
        @Html.ActionLink("Cancel","Index", new{}, new{@class="btn btn-default"})
    </form>
</div>